
.layout{
    display: flex;
    justify-content:space-around;
    align-items: center;
    .nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-transform: uppercase;
    min-height: 56px;
    max-width: 100%;
    .items{
        width: 1033px;
        display: flex;
        justify-content: center;
        align-items: center;
        .list{
            list-style: none;
            padding-right: 20px;
            .item{
text-decoration: none;
            }
        }
    }
}}